.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form__button{
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  border: 1px white solid;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.36);
  }
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #5c8199, #b8e1eb);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #e7edef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}