.scroll-snap__container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-snap__container::-webkit-scrollbar {
  display: none;
}

.scroll-snap__item {
  scroll-snap-align: start;
  -webkit-overflow-scrolling: touch;
}