.scroll-snap__container {
  display: grid;
  grid-auto-flow: column;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 100vh;
}

.scroll-snap__container::-webkit-scrollbar {
  display: none;
}

.scroll-snap__item {
  scroll-snap-align: center;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
}