.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logo__icon {
  width: 58.4px;
  height: 66.6px;

  @media screen and (max-width: 480px) {
    width: 53.9px;
    height: 61.5px;
  }
}