.hero {
  z-index: auto;
  height: 100vh;
  position: relative;
  background-color: var(--accent);
}

.hero__container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: calc(100vh - 86.59px);

  @media screen and (max-width: 480px) {
    height: calc(100vh - 81.5px);
  }
}

.hero__item {
  width: 50%;
  height: calc(100% / 4);
  transition: scale 0.3s ease;

  &:hover {
    scale: 1.01;
    z-index: 1;
  }
}

.hero__link {
  color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;

  &:hover {
    background-color: rgba(255, 255, 255, 0.36);
  }

  @media screen and (max-width: 1024px) {
    font-size: 28px;
  }

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.hero__name {
  position: absolute;
  font-family: 'Exo 2';
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
  font-weight: 600;

  @media screen and (max-width: 1024px) {
    font-size: 28px;
  }

  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}

.hero__bg-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--black);
  opacity: 0.4;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #191919;
  }
}

.hero__about {
  position: absolute;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  @media screen and (max-width: 1024px) {
    bottom: 6%;
  }

  @media screen and (max-width: 480px) {
    bottom: 10%;
  }
}

.hero__title {
  font-weight: 600;
  font-family: 'Exo 2';
  font-size: 60px;
  line-height: normal;
  color: var(--white);
  visibility: hidden;
  width: 1px;
  height: 1px;

  &-span {
    font-weight: 700;
    font-size: 42px;

    @media screen and (max-width: 1024px) {
      font-size: 40px;
    }

    @media screen and (max-width: 480px) {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 56px;
  }

  @media screen and (max-width: 480px) {
    font-size: 50px;
  }
}

.hero__down-icon {
  width: 40px;
  height: 40px;
  animation: moveUpDown 0.6s infinite alternate;
  z-index: 1;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(14px);
  }
}