.cart-item__container {
  display: flex;
  gap: 15px;
  padding: 0;
}

.cart-item__description {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item__photo-container {
  width: 100px;
  height: 100px;
}

.cart-item__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7%;
}

.cart-item__count-container {
  display: flex;
  gap: 10px;
}

.cart-item__plus,
.cart-item__minus {
  width: 15px;
  height: 15px;
}

.cart-item__remove {
  width: 58px;
  height: 58px;
  color: white;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.36);
  }

  @media screen and (max-width: 480px) {
    padding: 0 5px;
    font-size: 15px;
  }
}

.cart-item__count-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart-item__wrapper {
  display: flex;
  justify-content: space-between;
}