.footer {
  background-color: var(--accent);
  padding: 30px 0;
  font-family: 'Exo 2';
  color: var(--white);

  @media screen and (max-width: 480px) {
    padding: 20px 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__logo {
  width: 50px;
}

.footer__title {
  text-align: center;
}

.footer__order-number {
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.footer__release {
  font-size: 18px;

  @media screen and (max-width: 480px) {
    display: block;
  }
}