.footer{
  background-color: var(--accent);
  padding: 10px 0;
  font-family: 'Exo 2';
  color: var(--white);
}

.footer__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.footer__logo{
  width: 50px;
}

.footer__title{
  text-align: center;
}

.footer__order-number{
  font-size: 20px;
  color: var(--white);
}

.footer__release{
  font-size: 18px;
}